# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env



# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite3
*.db

# Virtual environments
venv/
env/
ENV/
.venv/

# MacOS system files
.DS_Store

# Python cache
*.pyc



# Ignore exported data
*.csv
*.xlsx
*.json
